<%- include('header') -%>
    
    
<br>
    <h2>Here are all the users</h2>
    <%for (let i = 0; i < users.length; i++) { %>
        <p><strong>First name:</strong> <%=users[i].firstname%></p>
        <p><strong>Last name:</strong> <%=users[i].lastname%></p>
        <p><strong>Email:</strong> <%=users[i].email%></p>
    <% } %>

<%- include('footer') -%>